VITE_API_URL="http://localhost:4000/api"
VITE_GAME_BUILD="local"
VITE_PAYMENTS_ENABLED="false"
VITE_AD_PROVIDER="mock"
VITE_ADS_ENABLED="false"
VITE_GOOGLE_AD_MANAGER_REWARDED_AD_UNIT_PATH=""
VITE_GOOGLE_AD_MANAGER_BANNER_AD_UNIT_PATH=""
VITE_TURNSTILE_SITE_KEY=""
VITE_SENTRY_DSN=""
VITE_GOOGLE_PRIVACY_MESSAGING_ID=""
